* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position:relative;
  width: 100%;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: #110f0f;
}

.search-input{
    margin: 32px;
    height: 20px;
    width: 800px;
    border-radius: 25px;
    padding: 15px
    
}


.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #60a5fa;
}

