.MoviePlate img {
    /* border-radius: 15%; */
    width: 150px;
    height: auto;
    display: block;
}

.MoviePlate a{
    color : white;
    text-align: center;
    padding-top: 80;
    /* padding-left: 80%; */
}


.MoviePlate p{
    padding: 10px;
    color: rgb(255, 255, 255);
    height:auto;
    position:relative;
    font-family: Arial, sans-serif;
}


.MoviePlate {
    border-radius: 7%;
    padding: 18px;
    background-color: rgb(0, 0, 0);
    position: relative;
    align-items: center;   /* centers image + button */
    box-shadow: 2px 6px 25px rgb(70, 78, 88); /* Slightly larger shadow on hover */

}


.MoviePlate:hover {
    box-shadow: 2px 6px 25px rgb(4, 103, 233); /* Slightly larger shadow on hover */

}


